<h1>会員一覧</h1>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>ID</th>
      <th>メールアドレス</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>